*.pyc
*~
/tmp
.spyderproject
.buildpath
.project
.settings
*.orig
.idea
/vendor
/composer.phar
/version.php
/.phpunit.result.cache
/.phpunit.cache
/.php_cs
/.php_cs.cache
/.env.local
/.env.*.local
/var/
.DS_Store
.php-cs-fixer.cache